@model kumaranalloordevitempleadminweb.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}
<div style="float:left; width:100%; height:60px;padding-top:10px;">
    <div style="float:left; width:50%; color:#a82001">
        <h3>@ViewBag.Title</h3>
    </div>
</div>
<hr />
<br />
@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
<hr />
    @Html.AntiForgeryToken()

    <h5>Please enter the below details.</h5>

    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.AuthKey, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.AuthKey, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.PairKey, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.PairKey, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Email Link" class="btn btn-primary btn-sm" style="width:150px;" /> &nbsp;
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
